.section {
  padding: 50px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imagecontainer {
  position: relative;
}

.circle {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background-color: var(--accent2-color);
  position: absolute;
  bottom: -25vw; 
  left: 10%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
