.section {
  padding: 50px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.section:nth-child(odd) {
  background-color: var(--accent1-color); /* Lys bakgrunn */
}

.section:nth-child(even) {
  background-color: var(--background-color); /* Mørkere bakgrunn */
}


.imagecontainer {
  position: relative;
}

.circle {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background-color: var(--accent2-color);
  position: absolute;
  bottom: -25vw; 
  left: 10%;
  transform: translateX(-50%);
}

.card {
  background-color: var(--accent2-color);
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 768px) {
  .circle {
    display: none;
  }
}

